<h1>Director #<%= @director.id %> details</h1>

<div>
  <%= link_to 'Go back', directors_path %>
</div>

<div>
  <%= link_to 'Edit director', edit_director_path(@director) %>
</div>

<div>
  <%= link_to 'Delete director', @director, data: { turbo_method: :delete } %>
</div>

<dl>
  <dt>Name</dt>
  <dd><%= @director.name %></dd>
  <dt>Bio</dt>
  <dd><%= @director.bio %></dd>
  <dt>Date of Birth</dt>
  <dd><%= @director.dob.strftime("%b %e %Y") %></dd>
  <dt>Created at</dt>
  <dd><%= time_ago_in_words(@director.created_at) %></dd>
  <dt>Updated at</dt>
  <dd><%= time_ago_in_words(@director.updated_at) %></dd>
</dl>
